#talk_details
{
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    height: 100vh;
    left: 0;
}

.talk_detail
{
    padding: 50px;
    max-width: 1200px;
    background-image: linear-gradient(-180deg, #15132C 0%, #1F1B51 100%);
    margin: 0 auto;
    display: none;
    transform: translateY(2em);

    overflow-y: auto;
    max-height: 95vh;

    h1 { 
        line-height: 1.25em;
        margin: 0;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    .close {
        margin-bottom: .75em;
        display: block;
        cursor: pointer;
    }
}

.talk_detail.active {
    display: block;
    opacity: 1;
    //position: absolute;
    top: 0;
    height: auto;
}

@include mq-tablet {
    #talk_details {
        position: fixed; 
        top: 0;
        //width: 92%;
    }

    .talk_detail {
        padding: 25px;
        font-size: .9em;
        h1 { font-size: 1.25em; }
    }
}