<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The 1st annual DevFest Springfield is a FREE full-day tech conference that delivers a diverse range of tech talks.">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

    <meta property="og:title" content="GDG DevFest Springfield 2018">
    <meta property="og:description" content="The 1st annual DevFest Springfield is a FREE full-day tech conference that delivers a diverse range of tech talks.">
    <meta property="og:image" content="https://devfestsgf.com/images/banner.png">
    <meta property="og:site_name" content="DevFest Springfield">
    @RenderSection("TopScripts", required: false)
</head>
<body>

@RenderBody()

@RenderSection("Scripts", required: false)

</body>
</html>
