@page
@{
    ViewData["Title"] = "GDG Devfest Springfield 2018";
}

<div class="container" id="site_content">
    <header>
        <div class="logo">
            <img src="/images/angle_white.svg" alt="">
            <hgroup>
                <h1>GDG Devfest</h1>
                <h2>Springfield 2018</h2>
            </hgroup>
        </div>
        <div class="details">
            <hgroup>
                <h1>GDG Devfest</h1>
                <h2>Springfield 2018</h2>
            </hgroup>

            <hgroup>
                <h3>Wednesday, December 5th</h3>
                <h4>The eFactory | 9:00 AM</h4>
            </hgroup>

            <p>
                GDG DevFests are large, community-run developer events happening around the globe focused on community building and learning about about the newest in tech. The 1st annual DevFest Springfield is a <em>FREE</em> full-day tech conference that delivers a diverse range of topics as well as prize drawings. Food and drinks will be provided.
            </p>

            <p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfQS3enSp9zi_1mTYQ8-ftU_UnEcQufaiKy7Dm96Ho5s4FwNA/viewform" target="_blank">Register Now</a>
            </p>
        </div>
    </header>

    <ul class="presentations">
        <li>
            <hgroup>
                <h2>10:00</h2>
                <h3>Intro To Firebase</h3>
                <h4>Brenden Reeves</h4>
            </hgroup>

            <img src="/images/brenden.png" alt="">
        </li>

        <li>
            <hgroup>
                <h2>11:00</h2>
                <h3>Augmented Reality</h3>
                <h4>Charlie Rosenbury & Enoch Bradshaw</h4>
            </hgroup>

            <img src="/images/charlie_enoch.png" alt="">
        </li>

        <li>
            <hgroup>
                <h2>1:00</h2>
                <h3>TensorFlow</h3>
                <h4>Jason Klein</h4>
            </hgroup>

            <img src="/images/jason.png" alt="">
        </li>

        <li>
            <hgroup>
                <h2>2:00</h2>
                <h3>Flutter</h3>
                <h4>Jordan McAdoo</h4>
            </hgroup>

            <img src="/images/jordan.png" alt="">
        </li>

        <li>
            <hgroup>
                <h2>3:00</h2>
                <h3>CSS Grid</h3>
                <h4>Myke Bates</h4>
            </hgroup>

            <img src="/images/myke.png" alt="">
        </li>
    </ul>

    <footer>
        <div class="hack">
            <h4>6<span>PM</span> | Full-Hack 2018</h4>
            <p>
                Join SGF Web Devs for the first ever development completion “full-hack”. Eat, drink, and be 
                merry as you enjoy watching 4 developers brave the stage for a live coding challenge.
            </p>
        </div>

        <div class="hosts">
            <h5>Brought To You By</h5>

            <div class="images">
                <a href="http://sgfwebdevs.com/" target="_blank">
                    <img src="/images/sgfwebdevs.svg" alt="">
                </a>

                <a href="https://www.meetup.com/GDG-Springfield/" target="_blank">
                    <img src="/images/gdg_springfield.svg" alt="">
                </a>

                <a href="https://efactory.missouristate.edu/" class="efac" target="_blank">
                    <img src="/images/efactory.png" alt="">
                </a>
            </div>
        </div>
    </footer>
</div>

<div id="talk_details">
    <div class="container">
        <div class="talk_detail">
            <div class="close">× Close</div>
            <h1>Intro To Firebase</h1>

            <p>
                Over the years Firebase has grown from a small database solution to a massive suite of development tools used by a variety of developers. I'll be going over the basics of what firebase is and walking through what it looks like to use Firebase as a backend for your Android app. We'll be looking at the built-in authentication services, cloud firestore, and the cloud messaging system.
            </p>
        </div>

        <div class="talk_detail">
            <div class="close">× Close</div>
            <h1>Beyond the flat screen: Getting Started in Augmented Reality Development</h1>
            <p>
                In this session, we will build a simple augmented reality experience and explore the similarities and differences from traditional 2D development.
            </p>

            <p>
                This session will equip you with a foundational understanding of augmented reality development.
            </p>
        </div>

        <div class="talk_detail">
            <div class="close">× Close</div>
            <h1>How to Retrain an Image Classifier for New Categories with TensorFlow</h1>

            <p>
                Retraining an existing Image Classification model is much easier than training a model from scratch. Jason will demonstrate how to retrain an existing Image Classifier to recognize images in two specific categories: Hotdog and NotHotdog.
            </p>
        </div>

        <div class="talk_detail">
            <div class="close">× Close</div>
            <h1>iOS and Android Mobile development with Flutter</h1>

            <p>
                Come join this full-time native iOS developer as she explains what’s new and exciting about Flutter, with only a small amount of bias. Enjoy her experiences during a brief escape from Xcode while exploring this new SDK and what it has to offer.
            </p>
        </div>

        <div class="talk_detail">
            <div class="close">× Close</div>
            <h1>Horsin' Around with CSS Grid Layout</h1>

            <p>
                The CSS Grid Layout (aka "Grid") is arguably one of the most important and exciting things to happen with CSS in many years. The Grid has actually been around for a while, but specs and browser support are finally ironed out enough to where front-end developers can safely start to add this layout tool to their arsenal.
            </p>

            <p>
                I will start with a high level overview of the Grid specs and how it compares to other layout utilities like tables(yikes), floats(bleh), and flex(it's pretty cool). Then we'll go through some live demos to see how to achieve various layouts. We'll also quickly cover browser development tools and Sass tooling.
            </p>

            <p>
                CSS-Tricks sums up the Grid nicely
                "CSS has always been used to lay out our web pages, but it's never done a very good job of it. First we used tables, then floats, positioning and inline-block, but all of these methods were essentially hacks and left out a lot of important functionality (vertical centering, for instance). Flexbox helped out, but it's intended for simpler one-dimensional layouts, not complex two-dimensional ones (Flexbox and Grid actually work very well together). Grid is the very first CSS module created specifically to solve the layout problems we've all been hacking our way around for as long as we've been making websites."
            </p>
        </div>
    </div>
</div>